# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.hprof

# Metro
.metro-health-check*

# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.local
.env.*.local

# Android
android/app/build/
android/app/.cxx/
android/build/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/*.hprof
android/app/debug/
android/app/release/

# iOS
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build artifacts
build.log
*.apk
*.aab
*.ipa

# TypeScript
*.tsbuildinfo
